{% import '_macros/image' as imageMacros %}
<div class="component-container">
    <div class="resource-list spacing-both">
        <div class="grid-bg-wrapper container">
            <div class="background-grid"></div>
        </div>
        <div class="container content resources-slider">
            <h2>
                {{ component.heading }}</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for resource in component.resources.all() %}
                        {% set resEntry = resource.resource.one() %}
                        <div class="slide swiper-slide">
                            <div class="resource-card">
                                <a class="image" href="#">
                                    {{ imageMacros.image(resEntry.image[0], {
                                                                                                                    ratio: (1/1),
                                                                                                                    class: "rounded",
                                                                                                                    srcset: [
                                                                                                                        { width: 200, jpegQuality: 65 },
                                                                                                                    ]
                                                                                                                }
                                                                                                            )   
                                                                                                        }}
                                    </a>
                                    <h6 class="resource-type">Event</h6>
                                    <div class="date">
                                        <i class="icon calendar"></i>
                                        {{ resEntry.postDate | date("d.m.Y") }}</div>
                                    <h4>
                                        {{ resEntry.title }}</h4>
                                    <p>
                                        {{ resEntry.description|striptags|slice(0,71)}}…</p>
                                    <a class="button-learn-more" href="#">Learn more</a>
                                    <br/>
                                    {# <a class="button-download" href="#">Download Case Study</a> #}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <span aria-atomic="true" aria-live="assertive" class="swiper-notification"></span>
                </div>
                <button class="swiper-button-next"></button>
                <button class="swiper-button-prev"></button>
            </div>
        </div>
    </div>
