<h6>{{ menuItem.title1 }}</h6>
<div class="social-icons">
    <a class="icon twitter" href="{{ menuItem.twitter.getUrl() }}">{{ menuItem.twitter.getText() }}</a>
    <a class="icon linkedin" href="{{ menuItem.linketin.getUrl() }}">{{ menuItem.linketin.getText() }}</a>
    <a class="icon youtube" href="{{ menuItem.youtube.getUrl() }}">{{ menuItem.youtube.getText() }}</a>
</div>
<h6>{{ menuItem.title2 }}</h6>
<a class="btn-secondary" href="{{ menuItem.linkTo.getUrl() }}">{{ menuItem.linkTo.getText() }}</a>