<div class="component-container">
    {% for office in component.offices.all() %}
        {% if loop.index is odd %}
            <div class="offices right">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-wrapper">
                                <div class="text">
                                    <p>
                                        {{ office.addressLine1 }}
                                        <br/>
                                        {{ office.addressLine2 }}
                                        <br/>
                                        {{ office.country }}
                                        <br/>
                                        {{ office.phone }}
                                    </p>
                                    <a class="btn-secondary" href="#">Get directions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d915.238070515975!2d23.318760284460645!3d42.68934977106903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85126712c8c3%3A0x874524c8258213f5!2z0J3QlNCa!5e0!3m2!1sbg!2sbg!4v1548424910507" style="border:0"></iframe>
                </div>
            </div>
            {% else %}
            <div class="offices">
                <div class="map">
                    <iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d915.238070515975!2d23.318760284460645!3d42.68934977106903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85126712c8c3%3A0x874524c8258213f5!2z0J3QlNCa!5e0!3m2!1sbg!2sbg!4v1548424910507" style="border:0"></iframe>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-wrapper">
                                <div class="text">
                                    <p>
                                        {{ office.addressLine1 }}
                                        <br/>
                                        {{ office.addressLine2 }}
                                        <br/>
                                        {{ office.country }}
                                        <br/>
                                        {{ office.phone }}
                                    </p>
                                    <a class="btn-secondary" href="#">Get directions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>